@page "/"
@using PalabrasApp.Shared
@inject HttpClient Http


<h1>Palabras</h1>

@if (palabras == null)
{
    <h3>It's on its way...</h3>
}
else
{
    @foreach (var palabra in @palabras)
    {
        <h2>@palabra.SpanishWord = @palabra.EnglishWord</h2>
    }
}

<div>
    <a href="/.auth/login/google">Login</a>
</div>

<input type="text" @bind="@spanishWord" />

<br />

<input type="text" @bind="@englishWord" />


<button @onclick="@AddPalabra">Add word</button>



@code {

        private IEnumerable<Palabra> palabras;

        private string spanishWord;
        private string englishWord;


        protected override async Task OnInitializedAsync()
        {
            try
            {
                palabras = await Http.GetFromJsonAsync<IEnumerable<Palabra>>("/api/GetPalabras");
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.ToString());
            }

        }

        protected async Task AddPalabra()
        {
            try
            {
            var pal = new Palabra
            {
                SpanishWord = spanishWord,
                EnglishWord = englishWord
            };

        await Http.PostAsJsonAsync<Palabra>("/api/AddPalabra", pal);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}

