@using PalabrasApp.Shared
@inject Services.WordsList Words

@if (palabra != null)
{
    <div class="row">
        <div class="col-sm-6">
            <h4>@palabra.EnglishWord</h4>
        </div>
        <div class="col-sm-3">
            <a @onclick="toggleShowAnswer">&#128065;</a>
        </div>
        <div class="col-sm-3">
            @if (isCorrectAnswer)
            {
                <a @onclick="RefreshRandomWord">&#x21BB;</a>
            }
        </div>
    </div>

    <div class="row" id="wordCheckFormContainer">
        <EditForm Model="@submittedWord" OnSubmit="@CheckWord">
            <div class="row">
                <div class="col-12">
                    <InputText id="submit_word" @bind-Value="submittedWord.AnswerText" />
                    <button type="submit">Check</button>
                </div>
            </div>
        </EditForm>
    </div>

    <br />

    <br />

    <div class="row">
        <div class="col-12">
            @if (showAnswerSymbol)
            {
                @if (isCorrectAnswer)
                {
                    <h3 class="correct_color">&#10003; @palabra.SpanishWord</h3>
                }
                else if (!isCorrectAnswer)
                {
                    <h3 class="wrong_color">X</h3>
                }
            }
        </div>
    </div>

    <br />

    <div class="row" id="displayAnswer">
        <div class="col-12">
            @if (displayAnswer)
            {
                <h3>@palabra.SpanishWord</h3>
            }
        </div>
    </div>

}
else
{
    <span>You don't have any words in your list yet.</span>
}


@code {

    public Palabra palabra;
    private string spanishWord;
    private string englishWord;
    private Answer submittedWord = new Answer();
    private bool displayAnswer = false;
    private bool isCorrectAnswer;
    private bool showAnswerSymbol = false;

    protected override async Task OnInitializedAsync()
    {
        palabra = RandomPalabra();
    }

    protected void CheckWord()
    {
        Console.WriteLine("Method executed!");
        var correctWord = palabra.SpanishWord.ToLower();
        var givenWord = submittedWord.AnswerText.ToLower();

        if (correctWord == givenWord)
        {
            isCorrectAnswer = true;
            showAnswerSymbol = true;
            submittedWord = new Answer();
        }
        else
        {
            isCorrectAnswer = false;
            showAnswerSymbol = true;
        }

    }

    protected void toggleShowAnswer()
    {
        displayAnswer = !displayAnswer;
    }

    protected Palabra RandomPalabra()
    {
        var palabrasLength = Words.palabras.Count();
        Random random = new Random();
        var randomPalabraIndex = random.Next(0, palabrasLength);
        var randomPalabra = Words.palabras[randomPalabraIndex];

        if(Words.palabras.Count > 1)
        {
            Words.palabras.RemoveAt(randomPalabraIndex);
            Words.ListDataHasChanged();
        }

        return randomPalabra;
    }

    private void RefreshRandomWord()
    {
        palabra = RandomPalabra();
        showAnswerSymbol = false;
    }
}
